@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.copy_text_code {
  text-align: center;
}
.copy_text_code h5 {
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 50px;
  line-height: 45px;
  font-weight: 600;
  color: black;
  padding-top: 23px;
}
.copy_text_code h5 span {
  color: #fc6744;
}
.copy_text_code p {
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #414141;
  padding-top: 8px;
}

/*---------*/
body {
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  padding-top: 80px;
}

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .under_line {
  width: 34px;
  height: 4px;
  opacity: 0.6;
  background-color: #170f1c;
  border-radius: 1.5px;
  border-bottom: 2px solid;
  margin-top: 4px;
}

.logo {
  font-family: "Open Sans";
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  color: #4a4a4a;
  width: 149px;
  height: 55px;
  border: 3.6px solid #706b73;
  border-radius: 2px;
  text-align: center;
}
.logo span {
  color: #fb927a;
}

/*-------------------CONTENT--------------------*/
/*-------message_about--------*/
/*.header_register{
  width: 1440px;
  background-color: #f5f5f5;
  border-radius: 1px;
  margin:0 auto;
}

*/


.content .message_part .message_about {
  text-align: center;
  margin-top: 145px;
}
.content .message_part h1 {
  opacity: 0.94;
  font-family: "Open Sans";
  font-size: 50px;
  line-height: 45px;
  font-weight: 600;
  color: #626262;
}
.content .message_part h1 span {
  color: #fc6744;
}
.content .message_part p {
  opacity: 0.65;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}
.content .message_part .message_p {
  margin-top: 25px;
}

/*-------register--------*/
.register {
  width: 372px;
  height: 388px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
          box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  border-radius: 2px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 25px;
  position: relative;
  left: 150px;
  top: 35px;
}
.register .text_input {
  padding-bottom: 67px;
}
.register input {
  display: block;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 9px;
  width: 294px;
  margin: 0 auto;
  margin-top: 15px;
}
.register input .text_form {
  padding-bottom: 50px;
}
.register h3 {
  opacity: 0.9;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-weight: 400;
  color: #211a18;
  padding-top: 25px;
}
.register h3 span {
  color: #ff5c36;
}
.register .submit {
  max-width: 240px;
  height: 57px;
  background-color: #ff5c36;
  border: 1px solid rgba(1, 2, 2, 0.06);
  -webkit-box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
          box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
  border-radius: 27px;
  margin: 0 auto;
  margin-top: 20px;
}
.register .submit .submit_little {
  max-width: 135px;
  text-align: center;
  padding-top: 15px;
  margin: 0 auto;
}
.register .submit .submit_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register .submit .submit_row h2 {
  padding-right: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
}
.register .submit .submit_row img {
  width: 17px;
  height: 10px;
}

/*-------------WORKING--------------*/
.working {
  margin-top: 150px;
}
.working .working_blocks_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.working .working_blocks_row .working_block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.5%;
          flex: 0 1 22.5%;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.2);
          box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.2);
  text-align: center;
}
.working .working_blocks_row .working_block .img {
  padding-top: 53px;
}
.working .working_blocks_row .working_block_1 {
  background-color: #4eb2f7;
}
.working .working_blocks_row .working_block_2 {
  background-color: #c049f8;
}
.working .working_blocks_row .working_block_3 {
  background-color: #817eff;
}
.working .working_blocks_row .working_block_4 {
  background-color: #f74770;
}
.working .working_text {
  text-align: center;
}
.working .working_text h5 {
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 50px;
  line-height: 45px;
  font-weight: 600;
  color: black;
  padding-top: 23px;
}
.working .working_text h5 span {
  color: #fc6744;
}
.working .working_text p {
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #414141;
  padding-top: 8px;
}
.working .working_blocks {
  margin-top: 150px;
}
.working .working_blocks .block_text h2 {
  opacity: 0.9;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.working .working_blocks .block_text p {
  opacity: 0.74;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 24px;
}
.working .working_blocks .know_button {
  width: 225px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
          box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
  border-radius: 27px;
  margin: 0 auto;
  position: relative;
  top: 27.5px;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
}
.working .working_blocks .know_button .know_button_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.working .working_blocks .know_button .know_button_row img {
  width: 25px;
}
.working .working_blocks .know_button h4 {
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

/*-----------FEATURE WORKS----------*/
.feature_works {
  margin-top: 157px;
  background-color: #fbfbfb;
  padding-top: 128px;
}
.feature_works .feature_works_blocks {
  margin-top: 83px;
  padding-bottom: 171px;
}
.feature_works .feature_works_blocks .feature_works_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature_works .feature_works_blocks .feature_works_row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  width: 360px;
  height: 358px;
  background-color: #ff5c36;
  margin-left: 30px;
  margin-top: 30px;
}

/*---------SERVICES----------*/
/*    */
.modern {
  margin-top: 136px;
}
.modern .modern_img_1, .modern .modern_img_2, .modern .modern_img_3, .modern .modern_img_4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 104px;
  height: 92px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
          box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
  border-radius: 2px;
  margin-top: 7px;
}
.modern .modern_text_about {
  margin: 0 auto;
}
.modern .modern_row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modern .modern_text {
  max-width: 37%;
  margin: 0 auto;
}
.modern .modern_text h6 {
  opacity: 0.74;
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: #000000;
}
.modern .modern_text p {
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  padding-top: 22px;
}
.modern .modern_text .know_button {
  width: 225px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
          box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
  border-radius: 27px;
  text-align: center;
  padding-top: 21px;
  margin-top: 40px;
  padding-bottom: 21px;
}
.modern .modern_text .know_button .know_button_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modern .modern_text .know_button .know_button_row img {
  width: 25px;
}
.modern .modern_text .know_button h4 {
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

/*----------------TEAM------------------*/
.team {
  margin-top: 320px;
  background-color: #fbfbfb;
}

.team_blocks {
  margin-top: 127px;
  padding-bottom: 150px;
}
.team_blocks .team_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team_blocks .team_unique_block {
  background-color: #ffffff;
}
.team_blocks .team_block_simple {
  background-color: #ff5c36;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
          box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
}
.team_blocks .team_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 445px;
}
.team_blocks .team_block .team_bot_div {
  background-color: #ffffff;
  text-align: center;
  position: relative;
  top: 24px;
  -webkit-box-shadow: 1px 6px 16px 0px rgba(20, 20, 21, 0.07);
          box-shadow: 1px 6px 16px 0px rgba(20, 20, 21, 0.07);
  border-radius: 2px;
}
.team_blocks .team_block .team_bot_div h3 {
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  padding-top: 18px;
  padding-right: 45px;
  padding-left: 45px;
}
.team_blocks .team_block .team_bot_div h4 {
  padding-bottom: 18px;
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 15.7px;
  font-weight: 300;
  color: #000000;
  padding-top: 18px;
}
.team_blocks .team_block_simple_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team_blocks .team_block_simple_row .empty {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.team_blocks .team_unique_block {
  background-color: #fff3f0;
  -webkit-box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.1);
          box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.1);
}
.team_blocks .team_unique_block .team_unique_block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team_blocks .team_unique_block .team_unique_block_row .unique_empty {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17.5%;
          flex: 1 1 17.5%;
}
.team_blocks .team_unique_block .team_unique_block_row .statistic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.team_blocks .team_unique_block .first_stat, .team_blocks .team_unique_block .second_stat, .team_blocks .team_unique_block .third_stat {
  text-align: center;
  margin-top: 14px;
}
.team_blocks .team_unique_block .first_stat h5, .team_blocks .team_unique_block .second_stat h5, .team_blocks .team_unique_block .third_stat h5 {
  font-family: "Open Sans";
  font-size: 10.9px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
}
.team_blocks .team_unique_block .first_stat .statlines_row, .team_blocks .team_unique_block .second_stat .statlines_row, .team_blocks .team_unique_block .third_stat .statlines_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team_blocks .team_unique_block .first_stat {
  margin-top: 0;
}
.team_blocks .team_unique_block .first_stat .statline_orange_1 {
  width: 123px;
  height: 4px;
  background-color: #ff6e47;
  border-radius: 1.5px;
}
.team_blocks .team_unique_block .first_stat .statline_grey_1 {
  width: 28px;
  height: 4px;
  background-color: #817f7e;
  border-radius: 1.5px;
}
.team_blocks .team_unique_block .stat_lines {
  margin-top: 4px;
}
.team_blocks .second_stat .statline_orange_2 {
  width: 109px;
  height: 4px;
  background-color: #ff6e47;
  border-radius: 1.5px;
}
.team_blocks .second_stat .statline_grey_2 {
  width: 42px;
  height: 4px;
  background-color: #817f7e;
  border-radius: 1.5px;
}
.team_blocks .third_stat .statline_orange_3 {
  width: 118px;
  height: 4px;
  background-color: #ff6e47;
  border-radius: 1.5px;
}
.team_blocks .third_stat .statline_grey_3 {
  width: 33px;
  height: 4px;
  background-color: #817f7e;
  border-radius: 1.5px;
}
.team_blocks .team_unique_block_bot {
  text-align: center;
  margin-bottom: 17px;
}
.team_blocks .team_unique_block_bot h3 {
  opacity: 0.85;
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  color: #202020;
}
.team_blocks .team_unique_block_bot h4 {
  opacity: 0.9;
  font-family: "Open Sans";
  font-size: 16.7px;
  line-height: 47px;
  font-weight: 300;
  color: #ff724c;
  padding-top: 5px;
}
.team_blocks .team_unique_block_bot .unique_block_image .unique_block_image_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team_blocks .team_unique_block_bot .unique_block_image .unique_block_image_row div {
  opacity: 0.3;
  font-family: "Font Awesome";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #fff3f0;
  margin-left: 18px;
}
.team_blocks .team_unique_block_bot .unique_block_image .unique_block_image_row .unique_twitter {
  margin-left: 0;
}

/*----------------CALLBACK------------------*/
.callback {
  margin-top: 137px;
}
.callback .callback_persons {
  margin-top: 85px;
}
.callback .callback_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback .callback_row .person_1, .callback .callback_row .person_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
          box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
  border-radius: 5px;
}
.callback .callback_row .person_1 .person_comment, .callback .callback_row .person_2 .person_comment {
  text-align: center;
  opacity: 0.7;
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
.callback .callback_row .person_1 .person_img, .callback .callback_row .person_2 .person_img {
  width: 99px;
  height: 99px;
  border-radius: 100px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
          box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
  left: 40.5%;
  bottom: 50px;
}
.callback .callback_row .person_1 .stars, .callback .callback_row .person_2 .stars {
  margin-top: 19px;
}
.callback .callback_row .person_1 .stars .stars_row, .callback .callback_row .person_2 .stars .stars_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback .callback_row .person_1 .stars .stars_row div, .callback .callback_row .person_2 .stars .stars_row div {
  margin-left: 2px;
}
.callback .callback_row .person_1 .stars .stars_row div:nth-child(1), .callback .callback_row .person_2 .stars .stars_row div:nth-child(1) {
  margin-left: 0px;
}
.callback .callback_row .person_1 .person_name, .callback .callback_row .person_2 .person_name {
  text-align: center;
  margin-top: 22px;
  padding-bottom: 38px;
  opacity: 0.8;
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  color: #000000;
}
.callback .callback_row .person_1 .person_name span, .callback .callback_row .person_2 .person_name span {
  font-family: "Source Sans Pro - It";
  font-weight: 400;
}
.callback .callback_row .left_but {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(20, 20, 21, 0.07);
          box-shadow: 1px 3px 14px 0px rgba(20, 20, 21, 0.07);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback .callback_row .right_but {
  width: 48px;
  height: 48px;
  background-color: #ff6e47;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(20, 20, 21, 0.07);
          box-shadow: 1px 3px 14px 0px rgba(20, 20, 21, 0.07);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback .rectangles {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}
.callback .rectangles .rectangles_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback .rectangles .rectangles_row div {
  margin-left: 3px;
}
.callback .rectangles .rectangles_row div:nth-child(1) {
  margin-left: 0;
}

/*-----------------CONTACT US------------------*/
.contact {
  margin-top: 145px;
  padding: 76px 0 96px 0;
  background-color: #fbfbfb;
}
.contact .contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact .contact_row div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
}
.contact .contact_row div img {
  opacity: 0.2;
}

.contact_button {
  margin: 0 auto;
  margin-top: 43px;
  width: 240px;
  height: 57px;
  background-color: #fdfdfd;
  border: 1px solid rgba(1, 2, 2, 0.06);
  -webkit-box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
          box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_button h3 {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

/*----------------FOOTER----------------*/
.footer {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_row .footer_icons .footer_icons_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer_row .footer_icons .footer_icons_row .icons_1 {
  width: 53px;
  height: 52px;
  border-radius: 55px;
  background-color: #ff6e47;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.28);
          box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.28);
  text-align: center;
  padding-top: 15px;
}
.footer .footer_row .footer_icons .footer_icons_row .icons_2, .footer .footer_row .footer_icons .footer_icons_row .icons_3, .footer .footer_row .footer_icons .footer_icons_row .icons_4 {
  width: 53px;
  height: 52px;
  border-radius: 55px;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.28);
          box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.28);
  text-align: center;
  padding-top: 15px;
  margin-left: 16px;
}
.footer .footer_row .footer_text {
  margin-left: 25px;
}
.footer .footer_row .footer_text p {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 45px;
  font-weight: 400;
  color: #040404;
}

/*-------------------@MEDIA SCREEN AND--------------------*/